.clinic/
.env
.npmrc
.env*.local
.history
.settings/
.idea/
.vscode/.history
*-audit.json
*.log
analysis/
logs/
node_modules/
offLineQueue/
scratch/
dist/
telepresence.*

# Local YAML settings for helm charts.
**/*.local.yaml
